html, .container-fluid{
	background-color: #BCB1EC;

}

body, .container-fluid{
	position: absolute;
	height: 100%;
	width: 100%;

	padding-left: auto;
	padding-right: auto;

}

#choose{
	padding: 20px;
	border-radius: 50%;
	background-color: #ECD5D5;
	color: #5e5555;
	/*margin-left: 41%;	*/
	margin-top: 10px;
}

#normal-clock, #kitty-clock{
	transform: scale(.5);

}
#kitty-clock{
	background-color: #F9F3F3;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-top: 1rem;

	padding-top: 14rem;
	padding-left: 14.5rem;

	position: absolute;
	z-index: 2;
}

.ear{
	background-color: #F9F3F3;

	position: relative;
	z-index: -5;
	
    /*source: https://css-tricks.com/examples/ShapesOfCSS/*/
    /*oval*/
	width: 200px;
	height: 100px;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

#right-ear{
	transform: rotate(135deg);
	margin-right: -17px;
	margin-top: -100px;	
}

#left-ear{
	transform: rotate(45deg);
	
	margin-top: -100px;
	margin-left: -160px;
	
}

/*b) Face*/

#left-whiskers{
	margin-top: 130px;
	margin-left: 20px;
}

#right-whiskers{
	margin-left: 40px;
}

.whisker{
	height: 5px;
	width: 70px;
	border-radius: 50%;
	background-color: black;

	position: absolute;
	z-index: 0;
}

#whisker1{
	margin-left: -170px;
    margin-top: -140px;
    transform: rotate(0deg);
}

#whisker2{
	margin-left: -170px;
    margin-top: -100px;
    transform: rotate(-5deg);
}

#whisker3{
	margin-left: -170px;
    margin-top: -60px;
    transform: rotate(155deg);
}

#whisker4{
	margin-left: 80px;
    margin-top: -140px;
    transform: rotate(0deg);
}

#whisker5{
	margin-left: 80px;
    margin-top: -100px;
    transform: rotate(5deg);
}

#whisker6{
	margin-left: 80px;
    margin-top: -60px;
    transform: rotate(-155deg);
}

#nose{
	width: 20px;
	height: 15px;
	background-color: #D0B618;
	border-radius: 50%;
	margin-top: -100px;
	margin-left: 10px;
	border: 3px solid black;

	position: absolute;
	z-index: 0;
}

.eyes{
	height: 15px;
	width: 25px;
	background-color: black;
	transform: rotate(90deg);
	border-radius: 50%;

	position: absolute;
	z-index: 0;
}

#left-eye{
	margin-left: -40px;
	margin-top: -140px;
}

#right-eye{
	margin-left: 50px;
	margin-top: -140px;
}

/*c) Bow*/

#bow{
	position: absolute;
	left: 160px;
	top: 10px;
}

.knot{
	border-radius: 50%;
	border: 3px solid black;
	background-color: #D00808;
}

#center-knot{
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-left: 40px;

	position: absolute;
	z-index: -1;
}

#left-knot{
	width: 30px;
	height: 30px;

	margin-top: 30px;
	margin-left: 30px;

	position: absolute;
	z-index: -2;
}

#right-knot{
	width: 30px;
	height: 30px;

	margin-top: 60px;
	margin-left: 60px;

	position: absolute;
	z-index: -2;
}

#trapezoid-red{
	margin-top: 10px;
	margin-left: 10px;

	border-radius: 50%;
	transform: rotate(135deg);
	position: absolute;
	z-index: -3;

	/*source: https://css-tricks.com/examples/ShapesOfCSS/*/
	/*trapeziod*/
	border-top: 50px solid #D00808;
	border-bottom: 50px solid #D00808;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
}

#trapeziod-black{
	/*margin-top: 0px;
	margin-left: 0px;*/

	border-radius: 50%;
	transform: rotate(135deg);
	position: absolute;
	z-index: -4;

	/*source: https://css-tricks.com/examples/ShapesOfCSS/*/
	/*trapeziod*/
	border-top: 60px solid black;
	border-bottom: 60px solid black;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 120px;
}

/*media queries*/

/*t ~506px, start having faces next to eachother on same row?*/

/*@media(max-width: 768px){
	#normal-clock{
		margin-left: 11%;
	}
	#kitty-clock{
		margin-left: 11%;
	}
}
*/
/*@media(max-width: 505px){
	#normal-clock{
		margin-left: 10vw;
	}
	#kitty-clock{
		margin-left: 10vw;
		margin-top: -10rem;
	}
}

@media(max-width: 425px){
	#normal-clock{
		margin-left: 10vw;
	}
	#kitty-clock{
		margin-left: 10vw;
		margin-top: -10rem;
	}
}
*/
/*@media(max-width: 350px){*/
	#normal-clock{
		left: calc(50%-149px);
		
	}
	#kitty-clock{
		left: calc(50%-149px);
		margin-top: -10rem;
	}
/*}*/


/*source: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
.centered-fixed {
  position: fixed;
  left: 50%;
  margin-left: -110px;
}
