/*
1) Basics

2) Clock
	a) Hands
	b) Face

3) Hello Kitty
	a) Head
	b) Face
	c) Bow
*/


/*1) Basics*/

html, .container-fluid{
	background-color: #BCB1EC;
}

body, .container-fluid{
	position: absolute;
	height: 100%;
	width: 100%;

	padding-left: auto;
	padding-right: auto;
}

/*Both*/

@media(max-width: 320px) and (max-height: 575px){
	#clock, #kitty-clock{
		transform: scale(.8);
		margin: 0;
		object-position: 5% 10%;
	}
	#kitty-clock{
		top: -40px;
	}
}

/*2) Clock*/



/*a) Hands*/

.sec{
	background-color: #EA4444;
	width: 5px;
	height: 130px;
	border-radius: 15%;

	top: -5px;
	
	transform: rotate(180deg);
	transform-origin: .5rem .5rem;/*.57rem .46rem;*/
	position: relative;
	z-index: 1;
}

.min{
	background-color: #232F25;
	width: 10px;
	height: 130px;
	border-radius: 15%;

	top: -5px;
	
	transform: rotate(180deg);
	transform-origin: .5rem .5rem;/*.6rem .9rem;*/
	
	position: absolute;
	z-index: 2;
}

.hour{
	background-color: #232F25;
	width: 10px;
	height: 65px;
	border-radius: 15%;

	top: -5px;

	transform: rotate(180deg);
	transform-origin: .5rem .5rem;

	position: absolute;
	z-index: 3;
}

/*b) Face*/

#clock{
	background-color: #b1ecbc;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-top: 1rem;
	border: 10px solid #ecb1e1;

	/*looks centered*/
	padding-top: 14rem;
	padding-left: 13.5rem;
}

.tick{
	width: 20px;
	height: 5px;
	background-color: #232F25;

	position: absolute;
	z-index: 1;
}

#one{
	margin-left: 8rem;
	margin-top: -11.3rem;
	transform: rotate(120deg);
}

#two{
	margin-left: 12.6rem;
	margin-top: -6rem;
	transform: rotate(150deg);
}

#three{
	margin-left: 14rem;
	margin-top: 0rem;
}

#four{
	margin-left: 11.9rem;
	margin-top: 6.8rem;
	transform: rotate(210deg);
}

#five{
	margin-left: 7.2rem;
	margin-top: 11.1rem;
	transform: rotate(240deg);
}

#six{
	margin-top: 12.8rem;
	margin-left: .7rem;
	transform: rotate(90deg);
}

#seven{
	margin-top: 11.1rem;
	margin-left: -5.5rem;
	transform: rotate(120deg);
}

#eight{
	margin-top: 6.3rem;
	margin-left: -10.3rem;
	transform: rotate(150deg);
}

#nine{
	margin-left: -12rem;
	margin-top: -.5rem;
}

#ten{
	margin-left: -10.3rem;
	margin-top: -6.5rem;
	transform: rotate(210deg);
}

#eleven{
	margin-left: -5.5rem;
	margin-top: -11.5rem;
	transform: rotate(240deg);
}

#twelve{
	margin-top: -13.2rem;
	margin-left: 1.2rem;
	transform: rotate(90deg);
}

/*2) Hello Kitty*/

/*a) Head*/

#kitty-clock{
	background-color: #F9F3F3;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-top: 1rem;

	padding-top: 14rem;
	padding-left: 14.5rem;

	position: absolute;
	z-index: 2;
}

.ear{
	background-color: #F9F3F3;

	position: relative;
	z-index: -5;
	
    /*source: https://css-tricks.com/examples/ShapesOfCSS/*/
    /*oval*/
	width: 200px;
	height: 100px;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

#right-ear{
	transform: rotate(135deg);
	margin-right: -17px;
	margin-top: -100px;	
}

#left-ear{
	transform: rotate(45deg);
	
	margin-top: -100px;
	margin-left: -160px;
	
}

/*b) Face*/

.whisker{
	height: 5px;
	width: 70px;
	border-radius: 50%;
	background-color: black;

	position: absolute;
	z-index: 0;
}

#whisker1{
	margin-left: -170px;
    margin-top: -140px;
    transform: rotate(0deg);
}

#whisker2{
	margin-left: -170px;
    margin-top: -100px;
    transform: rotate(-5deg);
}

#whisker3{
	margin-left: -170px;
    margin-top: -60px;
    transform: rotate(155deg);
}

#whisker4{
	margin-left: 80px;
    margin-top: -140px;
    transform: rotate(0deg);
}

#whisker5{
	margin-left: 80px;
    margin-top: -100px;
    transform: rotate(5deg);
}

#whisker6{
	margin-left: 80px;
    margin-top: -60px;
    transform: rotate(-155deg);
}

#nose{
	width: 20px;
	height: 15px;
	background-color: #D0B618;
	border-radius: 50%;
	margin-top: -100px;
	border: 3px solid black;

	position: absolute;
	z-index: 0;
}

.eyes{
	height: 15px;
	width: 25px;
	background-color: black;
	transform: rotate(90deg);
	border-radius: 50%;

	position: absolute;
	z-index: 0;
}

#left-eye{
	margin-left: -110px;
	margin-top: -140px;
}

#right-eye{
	margin-left: -50px;
	margin-top: -140px;
}

/*c) Bow*/

#bow{
	position: absolute;
	left: 160px;
	top: 10px;
}

.knot{
	border-radius: 50%;
	border: 3px solid black;
	background-color: #D00808;
}

#center-knot{
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-left: 40px;

	position: absolute;
	z-index: -1;
}

#left-knot{
	width: 30px;
	height: 30px;

	margin-top: 30px;
	margin-left: 30px;

	position: absolute;
	z-index: -2;
}

#right-knot{
	width: 30px;
	height: 30px;

	margin-top: 60px;
	margin-left: 60px;

	position: absolute;
	z-index: -2;
}

#trapezoid-red{
	margin-top: 10px;
	margin-left: 10px;

	border-radius: 50%;
	transform: rotate(135deg);
	position: absolute;
	z-index: -3;

	/*source: https://css-tricks.com/examples/ShapesOfCSS/*/
	/*trapeziod*/
	border-top: 50px solid #D00808;
	border-bottom: 50px solid #D00808;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
}

#trapeziod-black{
	/*margin-top: 0px;
	margin-left: 0px;*/

	border-radius: 50%;
	transform: rotate(135deg);
	position: absolute;
	z-index: -4;

	/*source: https://css-tricks.com/examples/ShapesOfCSS/*/
	/*trapeziod*/
	border-top: 60px solid black;
	border-bottom: 60px solid black;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 120px;
}