#clock{
	background-color: #b1ecbc;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-top: 1rem;
	border: 10px solid #ecb1e1;

	/*looks centered*/
	padding-top: 14rem;
	padding-left: 14rem;
}

html, .container-fluid{
	background-color: #BCB1EC;
}

#sec{
	background-color: #EA4444;
	width: 130px;
	height: 5px;
	border-radius: 15%;
	
	transform: rotate(0deg);
	transform-origin: .5rem .5rem;

	position: relative;
	z-index: 1;
}

#min{
	background-color: #232F25;
	width: 130px;
	height: 10px;
	border-radius: 15%;
	
	transform: rotate(0deg);
	transform-origin: .5rem .5rem;

	position: absolute;
	z-index: 2;
}

#hour{
	background-color: #232F25;
	width: 65px;
	height: 10px;
	border-radius: 15%;

	transform: rotate(0deg);
	transform-origin: .5rem .5rem;

	position: absolute;
	z-index: 3;
}